<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <!-- <title>Responsive Sidebar Menu</title> -->
  <link rel="stylesheet" th:href="@{/css/sidebar.css}"/>
  <link rel="stylesheet" th:href="@{/css/atividades.css}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
<input type="checkbox" id="check">
<label for="check">
  <i class="fas fa-bars" id="btn"></i>
  <i class="fas fa-times" id="cancel"></i>
</label>
<div th:replace="fragments/menu :: menu"></div>

<div id="container" class="ativBox">
  <h1>
    Olá, <span th:text="${username}">--name--</span>.
  </h1>

</div>
</body>
</html>